.hoverinfo{

    background-color:#f4f4f4;


}
.h_charts {

    width:450px;
    height:400px;
    box-shadow:0 2px 8px #ddd;

}
.widget-container {
    margin-right:20px;
    margin-left:20px;

}

.widget-title{
    height:22px;
    padding-left:10px;
}
.app-footer {

    bottom:-250px;
}
.hoveover{
    display:none;
}

.left {
    float: left;
    margin-right: 10px;
}

.circle {
    float: left;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.green {
  background: #2b8a1e;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}

.red {
  background: red;
}

