.hoverinfo{

    background-color:#f4f4f4;


}
.h_charts {

    width:450px;
    height:400px;
    box-shadow:0 2px 8px #ddd;

}
.widget-container {
    margin-right:20px;
    margin-left:20px;

}

.widget-title{
    height:22px;
    padding-left:10px;
}
.app-footer {

    bottom:-250px;
}
.hoveover{
    display:none;
}
